@model FoodTrucks.Models.LocationDetail

@{
    ViewBag.Title = "Details";
    var locations = Model.IsHere;
}

<h2>Details</h2>

<div>
    <h4>Location Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateatLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateatLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOpen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOpen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeClose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeClose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHere)
        </dt>

        <dd>
            @if (Model.IsHere.Count() > 0)
            {
                <ul>
                    @foreach (var truck in Model.IsHere)
                    {
                         <li>
                             @Html.ActionLink(truck.TruckName,"Details","Truck",new { id = truck.TruckId },null)
                             
                         </li>
                    }
            </ul>
            }
            else
            {
                <span>None</span>
            }
        </dd>
        </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.LocationId}) |
    @Html.ActionLink("Back to List", "Index")
</p>

